<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
    <link rel="stylesheet" href="../public/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="/">PlayRight</a></li>
            <li class="menu-item"><a href="#">About Us</a></li>
            <li class="menu-item button"><a href="#">Log In</a></li>
            <li class="menu-item button secondary"><a href="#">Sign Up</a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="profile-main">
            <section>
                <h1>Title</h1>
                <span>Frankenstein</span>
            </section>
            <section>
                <h2>Playwright</h2>
                <span>Henry M. Milner</span>
            </section>
            <section>
                <h2>Genres</h2>
                <span>Drama, Tragedy</span>
            </section>
            <section>
                <h2>Roles</h2>
                <span>10</span>
                <h3>Male:</h3>
                <h3>Female:</h3>
            </section> 
            <section>
                <h2>Acts</h2>
                <span>2</span>
            </section>          
            <section>
                <h2>Year</h2>
                <span>1925</span>
            </section>
            <section>
                <h2>Synopsis</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nulla eligendi quo, magni error explicabo optio soluta aspernatur dolores exercitationem nemo esse omnis odit dolore itaque id possimus quaerat commodi?</p>
            </section>

        </div>

    </div>

    
    <script src="../public/JS/main.js"></script>
</body>
</html>