<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Results</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="/CSS/style.css" type="text/css">
        <link rel="stylesheet" href="/CSS/normalize.css" type="text/css">
    </head>
    <body>   
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">PlayRight</a></li>
                <li class="menu-item"><a href="#">About Us</a></li>
                <li class="menu-item button"><a href="#">Log In</a></li>
                <li class="menu-item button secondary"><a href="#">Sign Up</a></li>
                <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
        <div class="wrapper">
            <section class="resultSection" data-position="plays">
                <h2>Results</h2>

                <ul class="results">
                    <li class="results list-header">
                        <span>Title</span>
                        <span>Genres</span>
                        <span>Roles</span>
                    </li>
                    <li class="results" data-id='<%=plays._id%>'>
                        <span><a href="/plays"><%= plays.title %></a></span>
                        <span>&nbsp<%= plays.genre %></span>
                        <span><%= plays.roles %></span>
                    </li>
                </ul>
            </section>
        </div>
        <script>
            const toggle = document.querySelector('.toggle')
            const menu = document.querySelector('.menu')
                
                function toggleMenu() {
                    if (menu.classList.contains("active")) {
                        menu.classList.remove("active")
                        //adds menu icon
                        toggle.querySelector("a").innerHTML = "<i class ='fas fa-bars'></i>"
                    }else {
                        menu.classList.add("active")
                        //adds close icon
                        toggle.querySelector("a").innerHTML = "<i class ='fas fa-times'></i>"
                    }
                }
                
                //event listener
                toggle.addEventListener("click", toggleMenu, false)
        </script>
    </body>
</html>
