<section class="resultSection" data-position="plays">
    <h2>Results</h2>

    <ul class="results">

        <li class="results">
            <span><%= plays.title %></span>:
            <span><%= plays.genre %></span>
            <span><%= plays.roles %></span>
        </li>

    </ul>
</section>
