/* Box Model Hack */
* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
}
 
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}
a {
    text-decoration: none;
}



h2, h3 {
    text-align: center;
}
.page-main {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin: 80px 0;
}
/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-sec .form-control{
    appearance: auto;
}
.search-slt, #title{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
#logInField .form-group label, #sign-up-field .form-group label{
    color: black !important;
}{
    color: black !important;
}
#sign-up-btn{
    margin-top: 1rem;
}
.filterSearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ui-widget {
    text-align: center;
}


/* results page */
ul.results {
    padding-left: 0;
    text-align: center;
}
.results.list-header {
    text-decoration: underline;
    font-size: 1.5rem;
}
.results li {
    display: flex;
    justify-content: space-between;
}
.results li span {
    display: inline-block;
    height: 60px;
    width: 300px;

}
.profile-main {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    flex-wrap: wrap;
    text-align: center;
}
.playwright, .genres {
    text-transform: capitalize;
}