/* Box Model Hack */
* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
}
 
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}
a {
    text-decoration: none;
}

.alert svg{
    height: 1rem;
}
.alert{
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
}
.page-main {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin: 80px 0;
}
/*search box css start here*/
.search-sec{
    padding: 2rem;
    border-radius: 25px;
}
.search-sec .form-control{
    appearance: auto;
}
.search-slt, #title{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.search-sec{
    background: #7F1100;
    color: #fff;
}
#logInField .form-group label, #sign-up-field .form-group label{
    color: black !important;
}
#sign-up-submit-btn{
    margin-top: 1rem;
}
#user-name-btn{
    text-transform: capitalize;
}
.filterSearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ui-widget {
    text-align: center;
}


/* results page */
ul.results {
    padding-left: 0;
    text-align: center;
}
.results.list-header {
    text-decoration: underline;
    font-size: 1.5rem;
}
.results li {
    display: flex;
    justify-content: space-between;
}
.results li span {
    display: inline-block;
    height: 60px;
    width: 300px;

}
.profile-main {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    flex-wrap: wrap;
    text-align: center;
}
.playwright, .genres {
    text-transform: capitalize;
}
.btn-main {
    --bs-btn-bg: #FFDD86;
    --bs-btn-border-color: #FFDD86;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D89747;
    --bs-btn-hover-border-color: #D89747;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FFDD86;
    --bs-btn-active-border-color: #FFDD86;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFDD86;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FFDD86;
    --bs-gradient: none;
}
#dashboardContainer {
 margin-top: 2.5rem;
}
